
@{
    ViewBag.Title = "Dangkinhantinmoi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IQueryable<Model.EF.dknt> dkntmoi = (IQueryable<Model.EF.dknt>)ViewData["dkntmoi"];
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Danh sách email đăng kí nhận tin</h1>
            </div>
            <!-- /.col-lg-12 -->
            <div id="Hienthi">
                <label>Chọn tất cả</label>
                <input type="checkbox" name="select-all" id="select-all" />
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr align="center">
                            <th style="width: 30px">ID</th>
                            <th>Email</th>
                            <th>Ngày đăng kí</th>
                            <th>Chọn email gửi tin</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dkntm in dkntmoi)
                        {
                        <tr class="odd gradeX" style="text-align: center">
                            <td>@dkntm.id</td>
                            <td>@dkntm.email</td>
                            <td>@dkntm.ngaydk</td>
                            <td><input type="checkbox" id="@dkntm.email" value="@dkntm.email" name="emailgui" /></td>
                        </tr>
                        }
                    </tbody>
                </table>
                <input class="btn btn-primary" type="button" value="Gửi tin" onclick="danhsachemail()" />
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>

@section Scripts{
    <script>
        function danhsachemail() {
            var checks = $('input[name = "emailgui"]:checked').map(function () {
                return $(this).val();
            }).get()
            console.log(checks);
            var data = JSON.stringify(checks);
            if (checks.length === 0) {
                Swal.fire(
                    'Thông báo',
                    'Không có email nào được chọn',
                    'warning'
                );
            }else
            window.location = "https://localhost:44392/Khachhang/Guitin?data=" + encodeURIComponent(data);
        }

        $('#select-all').click(function (event) {
            if (this.checked) {
                // Iterate each checkbox
                $(':checkbox').each(function () {
                    this.checked = true;
                });
            } else {
                $(':checkbox').each(function () {
                    this.checked = false;
                });
            }
        });
    </script>
}